/* ------------------------------------- BD ---------------------------------------- */

#bloc_gauche{
	background-color:#FFFFFF;
	border-style:none solid none none;
	border-width:0px 3px 0px 0px;
	float:left;
	margin-left:10px;
	margin-top:5px;
	padding:10px;
	position:relative;
	width:450px;
	z-index:9;
}


#bloc_gauche1{
	background-color:#FFFFFF;
	border-style:none solid none none;
	border-width:0px 3px 0px 0px;
	margin-left:10px;
	margin-top:0px;
	padding:10px;
	z-index:9;
	height: 570px;
	width:448px;
	_width: 468px;

}

#bloc_droite_bd{
	float:right;
	position:relative;
	border-color: #000000;
	border-style:none none none solid;
	border-width:0px 0px 0px 3px;
	margin-top:5px;
	padding:10px;
	text-align:center;
	z-index:8;
	width: 447px;
	_width: 427px;
	_left:-5px;
	left:-7px;
}

#bloc_droite1{
	position:relative;
	float:right;
	margin-left:5px;
	padding:0px 10px 10px 10px;
	z-index:10;
	text-align: left;
	width:250px;
}

#bloc_droite2{
	background-color:#FFFFFF;
	border-style:solid;
	border-width:0px 1px 0px 0px;
	float:left;
	padding:0px 10px 10px 10px;
	position:relative;
	text-align:center;
	width:120px;
	z-index:11;
}


#bloc_droite{
	border-color: #000000;
	border-style:none none none solid;
	border-width:0px 0px 0px 3px;
	float:left;
	left:-3px;
	margin-top:5px;
	padding:10px;
	position:relative;
	text-align:center;
	width:381px;
	z-index:8;
}

.document_principal
{
	float: right;
	text-align:center;
	margin-right: 15px;
	width: 300px;
	/*height: 380px;*/
}

.texte_principal
{
	float: left;
	width:125px;
	/*height: 200px;*/
	border:0px solid #000000;
	position: relative;
	left: -15px;
	top: 5px;
	text-align: right;
}

.titre_principal_bd
{
	left: -10px; 
	position: relative; 
	text-align: center; 
	padding-bottom: 10px;
	WIDTH: 440px;
	padding-left: 8px;
	padding-right: 10px;
	padding-top: 7px;
	font-size: 16px;
	font-weight: bold;
}

.largeur_bd
{
	width: 440px;
}

.separateur
{
	width: 400px;
	height: 50px;
	float:left;
}

.vignettes
{
	width: 440px;
	/*width: 250px;*/
	/*float: right;*/
	text-align: center;
	padding: 10px;
	padding-top: 0px;
	margin: 0 auto;
}

.image_principale img
{
	border: 0px solid #000000;
}
