/* Couleur */
/* claire : #FDE3F1 */
/* foncée : #F0027F */

#bloc_texte0 p:first-letter
{
	font-size: 200%;
	font-weight: bold;
	color: #F0027F;
}

#couleur
{
	color :#F0027F;
}

#couleur a
{
	color :#F0027F;
	text-decoration: none;
}

#couleur a:hover
{
	color :#F0027F;
	background-color: #FDE3F1;
}

#cadre_couleur {
	background-color: #FDE3F1;
	width: 90%;
}

#plan{
	list-style-image: url(../images/puce_couleur3.gif);
	margin-left: 10px;
}

#plan li a {
text-decoration: none;
}

#plan li a:hover {
	background-color: #FDE3F1;
}

#pucetitre{
	margin: 0;
	padding: 0;
	list-style-image: url(../images/puce_titrecouleur3.gif);
	vertical-align: sub;
}

#puce{
	list-style-image: url(../images/puce_couleur3.gif);
	margin-left: 30px;
}

#gauche_menu {
	background-color: #FDE3F1;
}

.gauche_menu {
	background-color: #FDE3F1;
}

.gauche_menu_on {
		background-color: #F0027F;
			color:#FFFFFF;
}
