/* Styles de la page */

* 	{	margin: 0px;	padding: 0px;	}

body {
	background-color: #ffffff;
}

body,td,th {
	font-family: Tahoma,"Arial",sans-serif;
	font-size: 11px;
	color: #333333;
}

a{
	color: #333333;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a.lienss:link {
	text-decoration: none;
}
a.lienss:visited {
	text-decoration: none;
	color: #333333;
}
a.lienss:hover {
	text-decoration: none;
}
a.lienss:active {
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* -------------- Généraux ---------------- */

.nettoyeur { clear: both; }
.chargement { background: url(../images/searching.gif) no-repeat center right; }
.gauche { float: left; }
.droite { float: right; }
.center { margin: 0 auto; text-align: center;}
img { border: 0px;}

/* --------------------------------------  BLOCS ---------------------------------------- */

#bloc_coltotal{
	width: 955px;
}

#contenu {
	width: 955px;
	position: relative;
	margin: 0 auto;
	text-align: left;
}

#bloc_colgauche{
	position: relative;
	float: left;
	width: 175px;
}

#bloc_colgauche_sommaire{
	position: relative;
	float: left;
	width: 730px;
}

#bloc_colcentre{
	position: relative;
	float: left;
	width: 560px;
	/* _width: 550px; */
}

#bloc_coldroit{
	position: relative;
	float: left;
	width: 220px;
	_width: 200px;
}
#pied{
}

#chemin {
	width:955px;
	position: relative;
	margin: 0 auto;
	padding-top: 35px;
	height: 20px;
	clear:both;
	/ height: 23px;
	padding-left: 5px;
}

/* ------------ BLOCS ARTICLES---------------- */

#bloc_intro{
	width: 538px;
	text-align: left;
	position: relative;
	background-image: url(../images/fd_cadre_intro.gif);
	background-repeat: no-repeat;
	padding-top: 10px;
	min-height: 80px;
	margin-bottom: 0px; /*ffx*/
	margin-top: 10px;
	_margin-bottom: 15px;
	_margin-top: 15px;
}

#bloc_intro p{
margin-right: 10px;
}

.bloc_intro2:hover{
background-color: #efefef;
}

#bloc_intro_b{
	width: 538px;
	text-align: left;
	position: relative;
	background-image: url(../images/fd_cadre_intro_b.gif);
	HEIGHT : 20px;
}

#bloc_article{
	width: 546px;
	text-align: left;
	position: relative;
	padding-top: 4px;
	padding-bottom: 10px;
}

#bloc_article_h{
	width: 546px;
	HEIGHT: 12px;
}

#bloc_article_m{
	width: 516px;
	background-image: url(../images/bloc_article_m.gif);
	padding-right: 10px;
	padding-left: 20px;
	float: left;
}

#bloc_article_b{
	width: 546px;
}

#bloc_texte, .bloc_texte {
	padding-right: 10px;
	padding-bottom: 10px;	
}

/* ------------ BLOCS ---------------- */

#bloc_colhome
{
	text-align: left;
	float: right;
	padding-top: 17px;
	top: -1px;
}

#bloc_colhome_m{
	width: 190px;
	background-image: url(../images/bloc_colhome_m.gif);
	padding-right: 10px;
	padding-left: 15px;
}

#bloc_colhome_h{
	width: 215px;
	HEIGHT: 12px;
}

#bloc_colhome_b{
	width: 215px;
	HEIGHT: 13px;
}

#bloc_colhome_simple{
	width: 215px;
	text-align: left;
	position: absolute;
	padding-top: 17px;
	left: 739px;
	top: -1px;
}

#bloc_colhome2{
	width: 215px;
	text-align: left;
	float: right;
	left: 739px;
	top: 172px;
}

#bloc_colhome3{
	width: 215px;
	text-align: left;
	float: right;
	left: 739px;
	top: 350px;
	HEIGHT: 280px;

}

#bloc_colhome2_simple{
	width: 215px;
	text-align: left;
	position: absolute;
	left: 739px;
	top: 199px;
}

#bloc_colhome2_m{
	width: 190px;
	background-image: url(../images/bloc_colhome_m.gif);
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 10px;	
}

#bloc_coldroite{
	width: 215px;
	text-align: left;
	position: relative;
	padding-top: 51px;
}

#bloc_animhome{
	width: 713px;
	HEIGHT: 310px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#bloc_animhome2{
	width: 713px;
	HEIGHT: 610px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#bloc_colhome_m_bd
{
	width: 370px;
	background-image: url(../images/bloc_colhome2_m.gif);
	padding: 15px 30px 15px 30px;
	margin: 0px;
}


#bloc_colhome_h_bd{
	HEIGHT: 12px;
	margin: 0px;
	padding: 0px;
}

#bloc_colhome_b_bd{
	HEIGHT: 13px;
	margin: 0px;
	padding: 0px;
}

/* --------------------------------------  ID ---------------------------------------- */

#bandohaut {
	width: 955px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	/*background-color: #F5F4F3;*/
	/*background : url(../images/roulotte8.jpg) no-repeat;*/
}
#bandobas {
	width:955px;
	position: relative;
	margin: 0 auto;
	border-top: 3px solid #000000;
	height: 31px;
	/ height: 23px; /* version ie */
	text-align: right;
	clear: both;
}
#picto {
	position:relative;
	width:132px;
	height:111px;
}

#barre_menu {
	width:19px;
	height:111px;
	position: absolute;
	left: 132px;
	top: 0px;
}

#txt_menu {
	width:259px;
	height:29px;
	position: absolute;
	left: 154px;
	top: 81px;
}

#anim_menu {
	/*width:379px;*/
	height:111px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#menu {
	width:955px;
	position: relative;
	margin: 0 auto;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	height: 31px;
	/ height: 23px;
}

#menu1 {
	width:955px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	height: 29px !important;	/*fx*/
	height: 10px;	/*ie*/
}

#menu_height {
	height: 29px !important;	/*fx*/
	height: 29px;	/*ie*/
}

.menu1 {
	vertical-align:baseline;
	margin: 0 auto;
	padding: 0;
}

#on_menu {
	width:678px;
	position: absolute;
	height: 3px;
	top: 27px; /*fx*/
	/	top: 26px; /*ie*/

}

#gauche_menu {
	width:148px;
	position: relative;
	border-left: 3px solid #000000;
	border-right: 0px solid #838383;
	border-bottom: 0px solid #838383;
	top: 0px;
}

#recherche_menu {
	width:278px;
	position: absolute;
	border-left: 3px solid #000000;
	height: 31px;
	/height: 30px;
	left: 674px;
	top: 0px;
}

.recherche_menu {
/* background-color: #FCAF18; */
background-color: #eeeeee;
}

#logo {
	width:124px;
	height: 61px;
	position: absolute;
	left: 400px;
	top: 5px;
}

#input_menu {
	width:186px;
	HEIGHT: 27px;
	position: absolute;
	left: 95px;
	top: -4px;
}

/* --------------------------------------  Menu3 ---------------------------------------- */

.trait_menu {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 4px;
	margin-bottom: 5px;
}

.trait_menu1 {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 4px;
	margin-bottom: 5px;
}

.img_menu {
	margin-top: 4px;
	margin-bottom: 5px;
}

.img_recherche {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* --------------------------------------  Formulaires ---------------------------------------- */

.input_bouton {
	margin-bottom: 8px;
	margin-top: 8px;
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	FONT-SIZE: 10px;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid;
	HEIGHT: 19px;
	width: 20px;
	BACKGROUND-COLOR: #ffffff
}

.input {
	margin-bottom: 8px;
	margin-top: 8px;
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid;
	HEIGHT: 15px;
	BACKGROUND-COLOR: #ffffff
}

.infoUsr select {
font-family:inherit;
font-size:95%;
width:80%;
}

/*---------------- Divers généraux ---------*/

.pagination, .pagination a { color: #999; }
.pagination {margin-right: 5%; margin-top: 10px;}

.bloc_gauche{
	float: left;
	padding: 0px 15px 0px 15px;
	margin: 0px; 
	width: 20%;
	text-align: center;
	border: 0px;
}

.bloc_droit{
	float: left;
	padding: 0px 15px 0px 15px;
	margin: 0px; 
	width: 70%;
	text-align: center;
	border: 0px;
}

/*---------------- Typographie et surcharges ---------*/

#bloc_texte p:first-letter {
	font-size: 150%;
	font-weight: bold;
	/*color: #777;*/
}

#bloc_texte p, .bloc_consigne p {
margin-bottom: 8px;
}

.bloc_consigne p.spip:first-letter, .bloc_consigne .spip p:first-letter {
	font-size: 150%;
	font-weight: bold;
	/*color: #D00010;*/
	/*color: #777;*/ 
}

#bloc_texte p a, .bloc_consigne p a{
	text-decoration: underline;
}

#bloc_texte p a:hover, .bloc_consigne p a:hover{
	text-decoration: none;
}

#bloc_article.serif p { 
font-family:"Palatino",Georgia,"Times New Roman",serif;
font-size:1.2em;
font-style:italic;
line-height:1.5;
 }

#bloc_article.monospace {color: white; }
#bloc_article.monospace p { font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace; font-size: 1.1em; }
#bloc_article.monospace #bloc_article_h, #bloc_article.monospace #bloc_article_b { visibility: hidden; }
#bloc_article.monospace #bloc_article_m{ width: 497px; background-image:url(); background-color: black;  padding: 20px 15px 20px 20px; margin-left: 6px; -moz-border-radius: 10px;}
#bloc_article.monospace #bloc_texte p:first-letter, #bloc_article.monospace .bloc_consigne p:first-letter {
	font-size: 100%;
	font-weight: normal;
	color: white;
}
#bloc_article.monospace a.lienss, #bloc_article.monospace a.lienss:hover, #bloc_article.monospace a.lienss:visited {
	color: #ffffff;
}

#bloc_article.sans-serif p { font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; }


/* -------------- Titres ---------------- */

.ttpetit {
	font-size: 4px;
}

#titre, .titre{
	padding-left: 8px;
	padding-right: 10px;
	padding-top: 15px;
	font-size: 16px;
	font-weight: bold;
}

.img_titre
{
vertical-align: middle;
padding-bottom: 5px;
/padding-bottom: 0px;
}

.titre_article{
	font-size: 13px;
	font-weight: bold;
}

.titre_bloc{

	font-size: 12px;
	font-weight: bold;
}

.titre_bloc2{

	font-size: 14px;
	font-weight: bold;
}

.titre_auteur{
	font-size: 10px;
	margin-bottom: 10px;
}

/* -------------- Images ---------------- */

#bloc_article_m span img{
	margin-top: 30px;
	margin-bottom: 10px;
}

.photo_intro{
	margin-left: 12px;
	margin-right: 12px;
	/*margin-bottom: 12px;*/
}

.portfolio{
	float: left;
	padding: 10px 10px 10px 10px;
	margin: 0px; 
	text-align: center;
	width: 150px;
	height: 130px;
	border: none;
}

.portfolio_grand{
	float: left;
	padding: 20px 30px 20px 0px;
	margin: 0px; 
	text-align: center;
	width: 320px;
	height: 270px;
	border: none;
}

.portfolio_petit{
	float: left;
	padding: 5px;
	margin: 0px; 
	text-align: center;
	width: 150px;
	height: 110px;
	border: 0px solid #FFFFFF;
}

img.puce{
	margin-bottom:0px;
	margin-top:4px;
}

/* -------------- Actions ---------------- */

/*color: #3BA12A;*/	/*Vert*/
/*color: #D00010;*/	/*Rouge*/

.supprimer_couleur {
	color: #D00010;
}

.ajouter_couleur {
	color: gray;
}

.publier_couleur {
	color: #D00010;
}

.lien_ajouter { cursor: pointer; color: #9dd53b; padding-right: 25px;}

.action_supprimer, .formulaire_editer_rubrique .action_supprimer, .action_supprimer_off {
	width: 15px;
	height: 15px;
	float: right;		
	margin: auto;
	margin-left: 5px;
	margin-right: 5px;
	background: url(../images/logo_supprimer_off_15.png) no-repeat scroll 0% 0%;  position: relative; z-index: 2;	
}
.action_supprimer:hover, .formulaire_editer_rubrique .action_supprimer:hover, .action_supprimer_on {
	background: url(../images/logo_supprimer_on_15.png) no-repeat scroll 0% 0%;  position: relative; z-index: 2;	
}

#menug .action_supprimer { margin-right: 0px; }

.publier {
	display: inline; 
	cursor: pointer; 
	border: 0px; 
	padding: 0px; 
	margin: 0px; 
	background-color: transparent; 
	font-size: 1.0em;
}

.publier2 {
	padding: 5px;
	font-weight:bold; 
	background-color:#3BA12A; 
	margin:10px 5px 5px 5px;
	font-size: 1.1em;	
	color: #ffffff;	
}

.publier_menu {
	font-weight:bold; 
	background-color:#3BA12A; 
	margin:0 5px 5px 5px; 
	padding:2px;
	color: #ffffff;
}

.publier_menu_petit {
	font-size: 0.7em;
	font-weight: bold; 
	background-color:#D00010; 
	margin: 0px; 
	padding: 0px;
	color: #ffffff;
}

.publier_droite {
	float: right;
	margin-right: 20px;
}

.publier_gras {
	font-weight:bold;
}

.bouton_raccourci_bandohaut{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.bloc_raccourcis_bandohaut{
margin-left: 20%;
}

.action_ajouter_bouton { background: url(../images/logo-plus2-15.png) no-repeat left center;  position: relative; top: 5px; left: -3px; z-index: 2; }


/* ------------------------------------ Menug ------------------------------------- */

ul#forum, .lien_forum  { margin-top: 10px;}

#forum ul {
	margin: 10px;
}

#menug li {
	margin-left: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
		/margin-left: 5px;
	text-align: left;
	list-style-type: none;
}

#menug li li { margin-bottom: 0px; margin-right: 2px;}

#menug li a {
text-decoration: none;
}

#menug li a:hover {
	background-color: #ffffff;
		color :#333333;
}


/*----------------mire authentification---------*/

div.top
{
	background-color: #ffffff;
	opacity:0.85;
	filter:alpha(opacity=85);
	-moz-border-radius: 0px 0px 10px 10px;
	/*background:transparent url(../images/inscription.png	) no-repeat scroll left bottom;*/
	font-size:10px;
	margin:0;
	padding:0px;
	position:absolute;
	right:18px;
	top:0;
	width:125px;
}

/* div infos utilisateur */
div.infoUsr {
	float: right;
	clear: right;
	width:100%;
	height:100%;
	text-align: center;
	overflow: hidden;
	padding-top: 7px;
	padding-bottom: 10px;
	line-height:1.1;	
}

.infoUsr img	{
border: 0px;
margin: 8px 4px 4px 0px;
}

.infoUsr em { font-size: 10px; }

.infoUsr a { font-size: 10px; }

.infoUsr p { margin-top: 1px; }


/* div aligné à droite, fin de ligne */
div.frc {
	float: right;
	clear: right;
}

.infoUsr .options { margin-top: 10px; }

/*---------------- SPIP et surcharges ---------*/

.spip_cadre 
{
	background:#EEEEEE none repeat scroll 0%;
	border-color:#EEEEEE rgb(238, 238, 238) rgb(238, 238, 238) rgb(52, 93, 164);
	border-style:inset inset inset solid;
	border-width:1px 1px 1px 4px;
	color:#3465A4;
	padding:0.5em 4px 4px;
	/*width:95%;*/
	font-size: 110%;
}

.spip_doc_titre
{
	padding-top: 0px;
	/*color: #666666;*/
	/*font-weight: bold;*/
}

.spip_doc_titre:first-letter
{
	font-size: 100%;
	/*font-weight: bold;*/
}

.spip_logos{
border: 1px solid #000000;
}



