
<plugin>
	<nom>Thematiques</nom>
	<auteur>Patrick Vincent</auteur>
	<licence>GNU/GPL</licence>
	<version>2.4.0</version>
	<version_base>2.4.0</version_base>
	<description>Un plugin pour l'installation simplifiée des thematiques de [laclasse.com->http://www.laclasse.com]
	</description>
	<lien>http://www.laclasse.com</lien> <!-- URI de documentation -->
	<etat>dev</etat>
	<prefix>th</prefix>

  	<icon>th.png</icon>

	<options>th_options.php</options>
	<fonctions>th_fonctions.php</fonctions>
	<!--
	<pipeline>
		<nom>pre_boucle</nom>
		<inclure>th_pipelines.php</inclure>
	</pipeline>	
	-->
	<!-- Base -->
	<install>base/th_upgrade.php</install>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/th_install.php</inclure>
	</pipeline>
	
	<!-- Interface privée 	
		<pipeline>
			<nom>autoriser</nom>
    		<inclure>th_autoriser.php</inclure>
		</pipeline>
	-->
	<!-- Champs extra -->
		<!-- Nécessaire 
		<pipeline>
		    <nom>pre_edition</nom>
		    <inclure>th_pipelines.php</inclure>
		</pipeline>
		-->
		<!-- Pas indispensable 	
		<pipeline>
		    <nom>editer_contenu_objet</nom>
		    <inclure>th_pipelines.php</inclure>
		</pipeline>    
		<pipeline>
		    <nom>afficher_contenu_objet</nom>
		    <inclure>th_pipelines.php</inclure>
		</pipeline>    
		-->	
	<!--Tâches périodiques cron
		<pipeline>
		    <nom>taches_generales_cron</nom>
		    <inclure>th_pipelines.php</inclure>
		</pipeline>
	-->	
	<!--Ajout d'éléments dans l'espace privé-->	
	
	<necessite id="SPIP" version="[2.1.0;3.0[" />
	
		
</plugin>
